<div id="appContainer">
	<header style="background-color:#ECEBD6; margin-top:0; padding-left: 10px; padding-right: 10px;">
		<h1 style="margin-top: 0">Dashboard</h1>
	<header>
	<div id="main">
		<table>
			<tr>
				<th>Reservation Number</th>
				<th>Reservation Name</th>
				<th>Arrival Date</th>
				<th>Departure Date</th>
				<th>Booking Source</th>
			</tr>
			<tr ng-repeat="reservation in reservations">
				<td>{{ reservation.reservationId }}</td>
				<td>{{ reservation.reservationName }}</td>
				<td>{{ moment(reservation.arrivalDate).format("DD/MM/YYYY") }}</td>
				<td>{{ reservation.departureDate }}</td>
				<td>{{ reservation.bookingSource }}</td>
			</tr>
		<table>
	</div>
</div>
