<table class="table table-striped table-bordered">
	<thead>
		<tr>
			<th><a href="#" class="noFingerLink">Room</a></th>
			<th><a href="#" class="noFingerLink">Status</a></th>
			<th><a href="#" class="noFingerLink">HK Status</a></th>
			<th><a href="#" class="noFingerLink">Occupant Name</a></th>
			<th><a href="#" class="noFingerLink">Res#</a></th>
			<th><a href="#" class="noFingerLink">Options</a></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>101</td>
			<td style="color: lime; font-style: italic; font-weight: bold">Vacant</td>
			<td>To be Serviced</td>
			<td style="color: lime; font-style: italic; font-weight: bold">Clean Me</td>
			<td></td>
			<td><button class="info btn btn-warning" ng-click="setHKStatus(1)"><i class="fa fa-flag" aria-hidden="true"></i></button></td>
		</tr>
		<tr>
			<td>102</td>
			<td style="color: lime; font-style: italic; font-weight: bold">Vacant</td>
			<td>To be Serviced</td>
			<td style="color: lime; font-style: italic; font-weight: bold">Clean Me</td>
			<td></td>
			<td><button class="info btn btn-warning"><i class="fa fa-flag" aria-hidden="true"></i></button></td>
		</tr>
	</tbody>
</table>