<div class="row" style="display: flex; flex-wrap: wrap">
    <div class="col-md-2" style="display: flex;flex-direction: column;">
        <div class="form-group">
            <label>Unit Type:</label>
            <select class="form-control" style="margin-top:4px" ng-model="selectedUnitType" ng-options="roomtype.unittypedesc for roomtype in roomTypes track by roomtype.idunittype" ng-change="testFunc()">
                <option value="">Show All</option>
            </select>
        </div>
    </div>
    <div class="col-md-2" style="display: flex;flex-direction: column;">
        <div class="form-group" id="whatever">
            <!-- Date input -->
            <label class="control-label">Arriving</label><br>
            <md-datepicker ng-model="arrivalDate" id="arrival" name="arrivingDate" class="" ng-change="testing123()"></md-datepicker>
        </div>
    </div>
    <div class="col-md-2" style="display: flex;flex-direction: column; margin-top: auto; text-align: center">
        <div class="form-group" id="whatever">
            <!-- Date input -->
            <input class="margin-left-10" type="checkbox" ng-click="showAllocated()" ng-model="test" id="allocatedCheckbox">
            <label class="control-label" for="allocatedCheckbox">Show Allocated</label>
        </div>
    </div>
    <div class="col-md-1" style="margin-top: auto">
        <div class="form-group">
            <button class="btn btn-warning" ng-click="autoAllocate()">Auto-allocate</button>
        </div>
    </div>
    <div class="col-md-5">
    </div>
</div>
<div class="row">
    <allocations-list></allocations-list>
</div>