<table class="table table-striped table-bordered">
	<tr>
		<th></th>
		<th><a class="noFingerLink">01/11/2017</a></th>
		<th><a class="noFingerLink">02/11/2017</a></th>
		<th><a class="noFingerLink">03/11/2017</a></th>
		<th><a class="noFingerLink">04/11/2017</a></th>
	</tr>
	<tbody>
		<tr ng-repeat="roomType in roomTypes">
			<td>{{roomType.unittypedesc}}</td>
			<td class="dayCell" data-date="2017-11-01" data-unitType="{{roomType.idunittype}}">1</td>
			<td class="dayCell" data-date="2017-11-02" data-unitType="{{roomType.idunittype}}">2</td>
			<td class="dayCell" data-date="2017-11-03" data-unitType="{{roomType.idunittype}}">0</td>
			<td class="dayCell" data-date="2017-11-04" data-unitType="{{roomType.idunittype}}">0</td>
		</tr>	
	</tbody>
</table>