<div class="text-center" ng-show="!loaded">
	<i class="fa fa-circle-o-notch fa-spin loader" aria-hidden="true"></i>
</div>
<div class="row" style="padding-bottom: 15px" ng-show="loaded">
	<div class="col-md-2">
		<label class="radio-inline"><input type="radio" name="optradio" ng-model="availContext.type" value="a" checked>Available</label>
		<label class="radio-inline"><input type="radio" name="optradio" ng-model="availContext.type" value="b">Booked</label>
		<label class="radio-inline"><input type="radio" name="optradio" ng-model="availContext.type" value="r">Rates</label>
	</div>
	<div class="col-md-2">
	</div>
	<div class="col-md-2">
	</div>
	<div class="col-md-1">
	</div>
	<div class="col-md-2">
		<!-- Date input -->
		<label class="control-label" for="date">From</label><br>
		<md-datepicker ng-model="pickerFromDate" id="arrival" name="arrivingDate" class="" ></md-datepicker>
		<!-- Date input -->
	</div>
	<div class="col-md-2">
		<label class="control-label" for="date">To</label><br>
		<md-datepicker ng-model="pickerToDate" id="arrival" name="arrivingDate" class="" ></md-datepicker>
	</div>
	<div class="col-md-1" style="text-align: center">
		<label class="control-label" for="date"></label><br>
		<button class="btn modalButton" ng-click="showAvailability(pickerFromDate, pickerToDate)">Update</button>
	</div>
</div>
<table class="table table-striped table-bordered" ng-show="loaded">
	<tr>
		<th></th>
		<th ng-repeat="day in availRows[0]"><a class="noFingerLink">{{day.configdate}}</a></th>
	</tr>
	<tbody>
		<tr ng-repeat="roomType in availRows">
			<td style="text-align: left; font-weight: bold">{{roomType[0].unittypedesc}}</td>
			<td ng-repeat="availRow in roomType" ng-class="{'red' :  {{availRow.unitsavailable}} < 0}" class="dayCell" data-date="{{availRow.configdate}}"><span ng-class="{'hoop' :  {{availRow.unitsavailable}} < 0}"><span ng-if="availContext.type == 'a'">{{availRow.unitsavailable}}</span></span><span ng-if="availContext.type == 'b'">{{availRow.unitbookedcount}}</span><span ng-if="availContext.type == 'r'">{{availRow.rate}}</span></td>
		</tr>	
	</tbody>
</table>